<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="2">
    <section id="plugin.video.chaturbatetv">
        <category id="general" label="32001" help="">
            <group id="1">
                <setting id="enh_debug" type="boolean" label="32010" help="32011">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="poll_minutes" type="integer" label="32020" help="32021">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>1</minimum>
                        <maximum>60</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>true</popup>
                    </control>
                </setting>
                <setting id="isa_proxy_port" type="integer" label="32030" help="32031">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>0</minimum>
                        <maximum>65535</maximum>
                    </constraints>
                    <control type="edit" format="integer"/>
                </setting>
                <setting id="screensaver_color" type="string" label="32040" help="32041">
                    <level>0</level>
                    <default>cyan</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <options>
                            <option>cyan</option>
                            <option>green</option>
                            <option>hotpink</option>
                        </options>
                    </constraints>
                    <control type="list" format="string"/>
                </setting>
                <setting id="max_resolution" type="string" label="32050" help="32051">
                    <level>0</level>
                    <default>auto</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <options>
                            <option>auto</option>
                            <option>1080p</option>
                            <option>720p</option>
                            <option>480p</option>
                        </options>
                    </constraints>
                    <control type="list" format="string"/>
                </setting>
                <setting id="dialog_timeout_seconds" type="integer" label="32060" help="32061">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>5</minimum>
                        <maximum>60</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>true</popup>
                    </control>
                </setting>
                <setting id="deep_refresh_rate_seconds" type="integer" label="32070" help="32071">
                    <level>0</level>
                    <default>2</default>
                    <constraints>
                        <minimum>1</minimum>
                        <maximum>30</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>true</popup>
                    </control>
                </setting>
            </group>
        </category>
        <category id="genders" label="32100" help="">
            <group id="1">
                <setting id="show_female" type="boolean" label="32110" help="32111">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_male" type="boolean" label="32120" help="32121">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_couple" type="boolean" label="32130" help="32131">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_trans" type="boolean" label="32140" help="32141">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
